h1 {
    color: red;
}
#heading2 {
    color: blue;
}
.heading{
    color: green;
}
.para{
    color: orange;
}
.navbar{
    border-color: black;
    border-style: solid;
    padding:50px;
    background-color: brown;
}